[2018-03-07 03:12] ryanwiemer opened #1 "Build Fails When Changing Existing Content In Contentful"
Just adding this here to track it. I appear to see an issue building the site after changing an existing entry in Contentful. For example creating a new Post is fine but changing an existing Post's title will fail to build.

In the meantime I will probably just downgrade to `1.9.209`.

https://github.com/gatsbyjs/gatsby/issues/4401

[2018-03-09 08:12] ryanwiemer commented on #1
This was resolved via https://github.com/gatsbyjs/gatsby/pull/4429

[2018-03-09 08:12] #1 closed, assigned to nobody

[2018-03-09 11:40] illucent opened #2 "failed during stage 'building site'"
failed to build with Netlify Deployment From Git (Recommended) method;
what it can be?

`failed during stage 'building site': Build script returned non-zero exit code: 1`
 ...

[code]

[2018-03-09 17:59] ryanwiemer commented on #2
@illucent, I had to make some breaking changes last night as of `v1.0.0`. Could you try pulling down the latest version of the code and going through the `npm run setup` process to copy over the setup to a new blank space?

Let me know if that resolves your issue.

Thanks,
Ryan

[2018-03-09 21:42] illucent commented on #2
tried by installing everything locally  - same issue  - not resolved yet

[2018-03-09 21:54] ryanwiemer commented on #2
@illucent Are you able to run `gatsby build` locally successfully? Or do you see the same error?

[2018-03-09 22:24] illucent commented on #2
gatsby build

[code]

[2018-03-09 23:27] ryanwiemer commented on #2
Hmmm interesting.  I am still not able to reproduce this and the error logging isn't super verbose so it's tough to debug.

A few more questions to see if we can get to the bottom of your issue:
- Is the space you created setup to use the `en-us` locale?
- Any errors in the console in develop mode?

If all else fails I may consider downgrading Gatsby to `v1.9.209`. There was some weird things happ

[2018-03-10 21:56] #2 closed, assigned to nobody

[2018-03-10 21:57] illucent commented on #2
- Is the space you created setup to use the en-us locale?

yes

- Any errors in the console in develop mode?

[code]

still same issue - i will try some another method

[2018-03-12 22:41] illucent commented on #2
resolved by adding "contenful-export" package dependency

` "contentful-export": "^6.0.4",`

and modifying package.json at build stage

[code]
this regenerates contentful content export json file to import by gatsby / netlify

[2018-03-13 06:13] ryanwiemer commented on #2
@illucent, thank you for sharing what you did!

For now I don't think I will make any changes to my starter template. But I am definitely looking for ways to streamline this process or at the very least make the README better! For the sake of clarity I thought I'd explain my thought process for local and remote builds in case that is helpful to you or anyone else. Sorry for the long response. Only

[2018-04-12 19:03] brandonkal opened #3 "Homepage fails to render correctly in Firefox for Mac"
I really like this starter framework, it looks like a great combination of technologies. Unfortunately it doesn't seem to render properly in Firefox. Also the contentful attribution doesn't seem to load on the knw.io website.
Here is a screenshot of how it looks in Firefox Quantum. Not really why it is failing in this browser:
![gcn-firefox-render](https://user-images.githubusercontent.com/4714862

[2018-04-12 20:15] ryanwiemer commented on #3
@popwebz,

Thank you for the feedback! It appears to be some unintentional format issues with using Flexbox. I will take a look and see what can be fixed and if a fallback is necessary specifically for FireFox.

Out of curiosity do you know what version of FireFox you are using? Honestly I'm not much of a FireFox user and that probably shows with my lack of testing 🙈

If you are feeling really hel

[2018-04-13 01:26] ryanwiemer commented on #3
@popwebz this is now fixed in `v1.0.3`. Thank you for reporting the issue. Let me know if you see any others.

[2018-04-13 01:26] #3 closed, assigned to nobody

[2018-04-19 08:00] brandonkal opened #4 "Suggestion - change attribution domain"
Per the Contentful documentation, they updated the asset domain:
images.contentful.com → images.ctfassets.net
https://www.contentful.com/blog/2017/12/08/change-of-the-contentful-asset-domain/
They just made this change a week or so ago. Changing the url for the attribution link to the ctfassets domain will save a DNS lookup and redirect though the performance improvement will likely be negligable

[2018-04-19 08:05] brandonkal opened #5 "Use blur up and progressive JPEGs"
Not sure exactly how to implement this. The Contentful documentation mentions it is possible to force jpegs to be progressive but doesn't show how. I believe it is `?fl=progressive` though.

Also, using blur up for the hero images would probably make the transition less jarring. When I initially deployed the site to Netlify, the contentful images had a waiting time of 1.5 seconds.

[2018-04-19 17:40] ryanwiemer commented on #4
@popwebz,

Thanks for pointing that out. It sounds pretty minor but certainly something that can easily be done. The code snippet that I am using for the logo attribution is from their official documentation: [https://www.contentful.com/r/knowledgebase/how-attribution-works/](https://www.contentful.com/r/knowledgebase/how-attribution-works/)

It looks like they haven't gotten around to updating it

[2018-04-19 18:21] ryanwiemer commented on #5
@popwebz,

That is actually very easy to do thanks to the [gatsby-image](https://www.gatsbyjs.org/packages/gatsby-image/?=images) plugin. The only reason I didn't use the blur up technique originally was due to personal preference. I may revisit that decision particularly for the hero images.

In the meantime if you would like to use the blur up technique simply change the following in your GraphQ

[2018-04-19 18:21] #5 closed, assigned to nobody

[2018-04-23 18:51] ryanwiemer commented on #4
This is now updated in `v1.0.4`

Contentful has updated their official documentation too. 😃

[2018-04-23 18:51] #4 closed, assigned to nobody

[2018-04-23 20:09] brandonkal commented on #4
Awesome. I am curious how you are using release tags . Is this just for you to keep track of changes or is netlify configured to build when the release is incremented rather than on every commit?

[2018-04-23 20:22] ryanwiemer commented on #4
Nah. The release tags are just for my own sanity so that I keep track of things. I have it setup to build whenever I push to the `master` branch. But Netlify can do what you described. It's very configurable.

[2018-04-30 10:34] soniCaH opened #7 "Images not showing when publishing new blog"
When I publish a new blogpost via contentful, netlify builds the new version successfully, but none of the images appear and a JavaScript error is thrown.

Locally (gatsby develop or gatsby build), all images are loading perfectly fine.

When I delete the blogpost, all images show again as before.

![image](https://user-images.githubusercontent.com/789034/39423550-b4e034d8-4c72-11e8-9e49-fd868c7f6

[2018-04-30 11:45] soniCaH commented on #7
When I check back now, images do load. Maybe it takes some time to mitigate them to all CDN's or something similar?

[2018-04-30 11:45] #7 closed, assigned to nobody

[2018-04-30 17:15] ryanwiemer commented on #7
@soniCaH, Yeah I'm not sure what happened with your particular use case but it sounds like it was a non-issue.

Just an FYI if I ever run into issues the first thing I do is check the build logs and if necessary trigger a manual deploy on Netlify. It's very rarely needed but it seems like a good first step to rule out a CDN or caching issue on either Netlify or Contentful when debugging issues.

B

[2018-04-30 17:31] soniCaH commented on #7
Thanks for the tip. The build logs didnt show any errors or warnings, all went fine.
I did a few manual deploys and the issue persisted. Tried deleting my blogpost: images appeared immediately, created new blogpost: all images were gone. This is still the case now. If I create nee blogposts, images are not showing for a while.

Sent from my iPhone

[2018-04-30 17:44] ryanwiemer commented on #7
@soniCaH,

Interesting. So is the current issue that images do not show up at all or that they take too long to load?

Do you have a live URL that I could look at? It still sounds more like a Netlify / Contentful issue than a problem with the template but I'm happy to to take a quick look if it is helpful.

The only other generic advice I can give is to make sure that you are using the latest vers

[2018-04-30 18:42] soniCaH commented on #7
URL is https://kevin.van-ransbeeck.be/test-blog/

The images don't load at all and a JavaScript error is thrown.
After a while (last time I checked after 2 hours) they suddenly work, so maybe by the time you check the URL, it's already "fixed" :).

<img width="1529" alt="screen shot 2018-04-30 at 20 41 28" src="https://user-images.githubusercontent.com/789034/39444165-1a737ffa-4cb7-11e8-8db8-1569b

[2018-04-30 19:09] ryanwiemer commented on #7
Thanks for the additional information. The build log looks good to me and I am not able to replicate the issue. Everything seems to be working properly for me here in San Francisco, USA.

![Gif](https://media.giphy.com/media/2scM5RpKswPWDfPIPt/giphy.gif)

Maybe try opening the URL in a new window? Perhaps something is getting cached in your browser session or something although I am just speculati

[2018-05-02 15:53] soniCaH commented on #7
Hey @ryanwiemer

Guess it is something browser/cache related.
Safari: images not loading + JS error - suddenly works after an hour or so
Chrome: images loading + no JS error

![netlify-480 mov](https://user-images.githubusercontent.com/789034/39534283-908c1c4e-4e31-11e8-96ca-5e12c60631fd.gif)

Thanks for thinking along anyway!

[2018-05-02 17:37] ryanwiemer commented on #7
@soniCaH Thanks for the update. Sorry I couldn't be more helpful. Please do let me know if you ever figure out a root cause.

[2018-05-14 18:30] ryanwiemer opened #14 "Improve Spam Protection on Contact Form"
This may be a limitation of @netlify but I still see a decent amount of spam even when using the honeypot field. I'm open to any ideas or recommendations to get the number of spam emails down particularly since Netlify only includes 100 email submissions per month on the free tier.

**Relevant Links**
* https://www.netlify.com/docs/form-handling/#spam-filtering
* https://www.netlify.com/blog/2017/

[2018-05-15 17:17] sparker888 opened #15 "npm test failure on check-pretty script"
When running npm test with a new install of the repo, I'm getting:

npm ERR! gatsby-starter-gcn@1.1.0 check-pretty: `prettier -l {,src/**/}*.{js,jsx,json,css,scss}`
npm ERR! Exit status 2
npm ERR!
npm ERR! Failed at the gatsby-starter-gcn@1.1.0 check-pretty script.

I'm looking into whether this might be an environmental issue (running node on Windows 10).

[2018-05-15 17:24] chrisheninger commented on #15
Hey Stephen– wanted to toss out a random suggestion– if you add `npx` to the start of that command `npx prettier -l {,src/**/}*.{js,jsx,json,css,scss}` does it fix it?

[2018-05-15 19:01] sparker888 commented on #15
Negative. Still receiving the error.

[2018-05-15 20:03] ryanwiemer commented on #15
Hmmm... yeah I am able to replicate this as well.

@brandonkal, since you added this originally can you take a quick look at the `check-pretty` command and see what needs to be adjusted?

Thanks,
Ryan

[2018-05-15 21:00] brandonkal commented on #15
I'll look into this. I am unable to replicate this as it is but I see that some of the packages have updated since the last commit so that could be the problem. I will ty a fresh clone.
@sparker888 can you run the command on its own and list the output here?
`npm run check-pretty`
It should be `npm` not `npx`

[2018-05-15 21:30] ryanwiemer commented on #15
@brandonkal,

I only see the error if I have a `package-lock.json` file. If I remove that file then it seems to work. I think a `package-lock.json` is autogenerated on certain versions of `npm`.

Let me know if that helps. I haven't really been using the `package-lock.json` properly and frankly I have just been ignoring it the `.gitignore` file. 🙈

[2018-05-15 21:36] brandonkal commented on #15
@ryanwiemer Yes that helps. I added a commit to ignore the `package.json` and `package-lock.json` in prettier as well. Are you using it on a Mac? On Mac I was able to create an exit status 1 (not 2) which is a legitimate formatting issue but as it is autogenerated there really is no need to format it.

[2018-05-15 21:39] ryanwiemer commented on #15
Thanks for looking into this. And yes I am on a Mac as well.

I agree that since these are autogenerated there is no need to format them. I will take a look at your PR right now.

[2018-05-15 21:48] ryanwiemer commented on #15
This is now resolved in [`v1.1.1`](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v1.1.1)

[2018-05-15 22:01] brandonkal commented on #15
Tested on a Windows machine and everything looks good!

[2018-05-16 01:13] sparker888 commented on #15
Thank you, gentlemen!

[2018-05-16 02:49] sparker888 commented on #15
Hmm, well I've updated to the current repo, and I'm still getting an error. I also tried running:

$ npm run check-pretty

.contentful.json
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! gatsby-starter-gcn@1.1.1 check-pretty: `prettier -l {,src/**/}*.{js,jsx,json,css,scss}`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the gatsby-starter-gcn@1.1.1 check-pretty script.
npm ERR! This is pro

[2018-05-16 03:06] sparker888 commented on #15
OK, I got it to work.

Just need to add .contentful.json to the .prettierignore file.

[2018-05-16 03:37] sparker888 commented on #15
@ryanwiemer I added a pull request to fix the issue. Let me know if you have any questions.

[2018-05-16 03:59] ryanwiemer commented on #15
@sparker888 weird. I tried all the setup steps by doing a fresh install but I still can't replicate the issue with the `.contentful.json` file. I'm on a Mac though so maybe it is only reproducible on Windows.

Not sure if the `.contentful.json` file needs to be ignored but then again it probably doesn't do too much harm to ignore it to be safe. It is another autogenerated file anyways.

[2018-05-16 04:03] brandonkal commented on #15
I'm not able to reproduce this either. For instance, if I add a bunch of spaces into the file running `npm pretty-check` does not complain. Running `node_modules/.bin/prettier .contentful.json --write` does clean it up though and formats the file. Personally, I would just format .contentful.json as it won't be changed again but I suppose it doesn't hurt to ignore.

[2018-05-16 04:14] ryanwiemer commented on #15
Gotcha. I think I will just ignore it to be safe. It's not a big deal.

[2018-05-16 04:19] brandonkal commented on #15
Makes sense. I was able to reproduce an error on my Windows VM so prettier-cli must be ignoring hidden files on the Mac and Linux platform. Pretty interesting.

[2018-05-16 04:26] ryanwiemer commented on #15
Okay. Thanks everyone. Sorry this thread went on so long. It is now updated in [`v1.1.2`](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v1.1.2)

If there are any other issues please let me know.

[2018-05-16 04:26] #15 closed, assigned to nobody

[2018-05-17 17:42] sparker888 opened #19 "Draft content on Contentful showing"
I see that draft content on Contentful (posts) is showing up for local gatsby develop. Is this intended?

[2018-05-17 17:55] ryanwiemer commented on #19
@sparker888 yes, that is intended. Draft content only shows up in develop mode not in production.

If you wanna see what production looks like locally you can use `gatsby build` and the `gatsby serve` commands.

[2018-05-17 17:56] sparker888 commented on #19
OK, thanks!

[2018-05-17 17:57] #19 closed, assigned to nobody

[2018-05-19 21:26] brandonkal opened #20 "Images Downloaded Twice on Mobile"
I noticed this while remote debugging on Android Chrome. I am not sure why this is happening but it seems redundant and causes unnecessary HTTP requests.

On the index page of the site the card thumnails fetch and download images that have a width of 1200 pixels on my phone. However, after clicking into a post, the hero image is again downloaded, this time with a width of 900 pixels.

A prefferrab

[2018-05-20 04:33] ryanwiemer commented on #20
@brandonkal,

Okay, Interesting.

On the [`index.js`](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/pages/index.js#L71) and [`tag.js`](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/templates/tag.js#L59) the hero image has a max width of 800px because the cards don't need a big image. On the [`post.js`](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/mast

[2018-05-21 08:50] brandonkal commented on #20
@ryanwiemer In my testing it seems Gatsby Image prefers to use clean multiples e.g. 900px wide when the max is set to 1800px though it is hard to tell if this is actual intelligence or coincidence. Perhaps that is why I got 900px images on the phone even though the query defaults to 800px. Not sure.

I suspect changing it all to a max size of 1800 would be best. I believe it will not download the

[2018-05-28 20:40] ryanwiemer commented on #14
It looks like you can now use your own reCAPTCHA on Netlify. This seems to get rid of most spam. I might just add this to the documentation as an optional step.

https://www.netlify.com/blog/2018/05/23/bring-your-own-recaptcha-to-netlify-forms/

[2018-05-29 19:14] ryanwiemer commented on #20
This should be resolved in [`v1.2.1`](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v1.2.1). The maxWidth is set to 1800 whenever using the heroImage.

[2018-05-29 19:14] #20 closed, assigned to nobody

[2018-05-29 19:15] #14 closed, assigned to nobody

[2018-06-23 05:43] githubr opened #21 "Contentful to GitLab"
Thank you for writing this and let us use it.

I have followed the instruction and been able to get my site up and running, including the automatic Netlify deployment when I publish something on Contentful.

I am wondering if there is a way to also push content from Contentful to GitLab? I like the idea that I have a copy of my content stored in GitLab. Thank you.

**Edit**

After playing with it

[2018-06-23 18:38] ryanwiemer commented on #21
Basically what you are describing is an automated backup of the site triggered by an event.

Maybe look at [Netlify Functions](https://www.netlify.com/docs/functions/) to see how you could setup a script trigged every time that you build the site.

[2018-06-24 20:48] daydream05 opened #22 "gatsby-netlify-plugin causes an error"
This happens when trying to deploy to netlify. I've followed every instructions.
[code]

###Environment:

I've modified it to comply with v2  so i don't think it should matter.

System:
    OS: macOS High Sierra 10.13.3
    CPU: x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.0.0 - /usr/local/bin/node
    Yarn: 1.6.0 - ~/.yarn/bin/yarn
    npm:

[2018-06-25 22:59] ryanwiemer commented on #22
@daydream05,

That appears to be a bug with `v2` and the `gatsby-netlify-plugin`. Hopefully it gets resolved soon. Just for awareness I am holding back on updating my repo to use `v2` until bugs like these are resolved.

[2018-06-26 20:38] ryanwiemer commented on #21
Closing this issue as it is more of general question not specifically related to the repo.

If you figure out a method that works for you feel free to share what you learned.

Thanks.

[2018-06-26 20:38] #21 closed, assigned to nobody

[2018-06-26 20:41] ryanwiemer commented on #22
I am closing this issue for now since I *believe* it is an upstream issue with Gatsby `v2` and not specifically this repo.

If I mistaken though and you can replicate the issue on Gatsby `v1` let me know and I can investigate it further.

Thanks!

[2018-06-26 20:41] #22 closed, assigned to nobody

[2018-06-26 22:57] daydream05 commented on #22
Thank you for the response! Definitely an issue with v2. Thanks for this starter btw! Love the SEO component!

[2018-06-27 07:48] githubbr commented on #21
Thanks for the pointer. Yes the aim is to have a backup of the static contents. I'll check out Netlify Function

[2018-06-27 07:52] githubbr opened #23 "Google Analytics"
Other than putting in my Google analytics ID on Netlify's deployment variable, is there anything else I need to do? I've done that and it doesn't seem that GA is taking. Thanks

[2018-06-27 18:35] ryanwiemer commented on #23
Did you name the deployment variable exactly `GOOGLE_ANALYTICS`? It will only work if you do that.

The environment variable is used in the [`gatsby-config`](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/gatsby-config.js#L70) file along with the `gatsby-plugin-google-analytics`

[2018-06-27 21:56] githubr commented on #23
Hi @ryanwiemer thanks for your response. Yes I named the variable exactly that.

~~~I don't seem to find any reference to ```gatsby-plugin-google-analytics``` in my ```gatsby-config``` file.~~~

UPDATE: found it in the config file.

[2018-06-27 22:05] githubr commented on #23
I can confirm it is now tracking. I think it was just the delay. Thank you.

[2018-06-28 01:28] ryanwiemer commented on #23
Okay cool. Glad it is working for you. I'm gonna close out this ticket.

[2018-06-28 01:28] #23 closed, assigned to nobody

[2018-07-18 02:31] lassiter opened #24 "Startup Readme Clarity?"
Ryan -- Thanks for creating this, it looks like a really cool project. I followed the setup instructions and it's still rendering your space via the export.json. I tried commenting it out but it's not loading my space. Can you provide some clarity on how I can start loading in my own content and adjusting the starter? I didn't see any issues with similar problems, I'm not sure what I'm missing. 😅

[2018-07-18 02:48] ryanwiemer commented on #24
@lassiter thank you for your interest in the repo!

If you follow the setup instructions by the end your previously blank Contenful space will now have an exact copy of the placeholder content and content model. From there you just add or remove entries in Contenful and then "rebuild" the site. You shouldn't need to touch the `export.json` file at anytime. That is there just so the template can gr

[2018-07-18 03:06] lassiter commented on #24
Got it, I didn't realize it would create new content types inside my Contentful Instance. If I'm wanting to adjust the content model to add things, I would just add that in the query in both the template and page while adjusting the internal props/return correct? (i.e. a Catagory in addition to "tags")

It does, I read through the docs a few months back and dropped my portfolio project -- I don't

[2018-07-18 03:38] ryanwiemer commented on #24
Yeah this assumes you have a specific content model.  If you want to change the content model you would need to change the relevant GraphQL queries and the corresponding components or files so that it knows what to pull from Contentful and how that data should be used or displayed.

So for example let's say you wanted a subtitle that is used on the posts. You would do something similar to the foll

[2018-07-20 04:04] ryanwiemer commented on #24
I'm going to close out. If there are any specific questions or issues related to this starter feel free to open a new issue.

[2018-07-20 04:04] #24 closed, assigned to nobody

[2018-07-20 14:59] ahansson89 opened #25 "Pagination on index and tags pages"
Would love to see an example on how to do this.

[2018-07-20 20:23] lassiter commented on #24
Thanks again!

[2018-07-21 18:07] ryanwiemer commented on #25
@ahansson89 great idea. To be honest I haven't tried it out yet but the plugin [gatsby-paginate](https://github.com/pixelstew/gatsby-paginate) looks useful.

Feel free to give that a shot and submit a PR. Otherwise I may look into adding that functionality when updating the repo to use the `v2` version of Gatsby in the near future.

[2018-07-21 20:39] ahansson89 commented on #25
Appreciate it!

[2018-08-09 14:51] Silisav opened #27 "Multilingual functionality"
Hey Ryan,

Thanks for creating the repo and adding all the instructions for setting things up!
I was wondering if you can think of a way of getting this to work with different contentful locales. I spent a couple of days trying to filter page and post queries for `node_locale` and switch languages but it's quite tricky. Any ideas or plans of implementing this in the future?

Thanks again!

[2018-08-09 20:16] ryanwiemer commented on #27
@Silisav,

Glad you are finding the repo useful! To be honest I don't have any experience working with different Contentful locales. So at this time it is not on the roadmap. With that said I am open to suggestions for collaboratively working towards that goal if it is worth the time.

A first step would be to find a working example of a Gatsby website that does this successfully. Have you looked

[2018-08-11 22:31] Silisav commented on #27
There is this one: https://github.com/mccrodp/gatsby-starter-contentful-i18n
I had a quick look and it's quite straightforward to change the query and get localised content back. For example:

- If you add a second locale in contentful (add italian for example)
- Make some _Page_ content type fields multilingual
- Add some dummy content in the multilingual fields
- Finally change the page query to

[2018-08-20 17:30] robdcal opened #28 "Deleted Contentful post still present in local build"
First of all, fantastic job at putting this together Ryan. I'm new to pretty much everything involved here (React, Gatsby, Contenful, Netlify) but this project has helped me understand each of them.

I'm experiencing an issue where I've deleted one of the **pre-existing** posts ("Sailing Around The Bay") and it still shows in my local build. The live site is updated fine through Netlify.

I've run

[2018-08-20 19:15] brandonkal commented on #28
Have you tried deleting the cache folder?

[2018-08-20 19:36] robdcal commented on #28
Thanks @brandonkal - that seems to have done the trick!

I actually saw that as a potential fix for a similar issue on another project / rep, but a lot of people said it didn't work so I didn't bother trying it. That'll teach me...

Any idea why this may have happened? Any thoughts on how to prevent this from happening?

Wondering whether the cache can be deleted every time as part of the build pr

[2018-08-20 19:42] brandonkal commented on #28
The cache is useful for preventing unnecessary API calls to Contentful as usually changing posts or just adding more posts if more common. If you do delete content that has been built, deleting the cache is a nice way to avoid these problems.

[2018-08-20 19:50] robdcal commented on #28
OK thanks.

You've provided a solution, but I guess the root cause of the issue still exists. In this instance, would you close this issue on GitHub or leave it open for further investigation?

[2018-08-20 19:59] brandonkal commented on #28
I would close the issue here as it is not related to the GCN starter project. This issue is related to the `gatsby-source-contentful` package not invalidating the cache when content is deleted. This package is maintained by gatsby.

It looks like there is already an issue open for this, and you can add to the discussion here: https://github.com/gatsbyjs/gatsby/issues/3495

[2018-08-20 20:00] robdcal commented on #28
Many thanks for the information and tips.

10/10 would GitHub again.

[2018-08-20 20:00] #28 closed, assigned to nobody

[2018-08-21 17:52] ryanwiemer opened #30 "Update to Gatsby V2"
Waiting until Gatsby `v2` is officially launched but in the meantime starting work on migrating the code.

## List of issues/bugs with Gatsby v2
- ~~[[v2] Navigating to previously visited pages with Link retains scroll position](https://github.com/gatsbyjs/gatsby/issues/7454)~~
- ~~[[v2] [plugin-offline] Fetch is intercepted by Workbox unless we add ?no-cache=1](https://github.com/gatsbyjs/gatsby/

[2018-08-23 07:02] ryanwiemer commented on #30
More testing needed but a new [`v2`](https://github.com/ryanwiemer/gatsby-starter-gcn/tree/v2) branch has been created with the migrated code.

[2018-08-24 03:11] zanedev opened #31 "npm test failing on v2 branch"
Using gatsby 2 and the gatsby 2 branch and getting the following when running npm test, not sure what the actual error is.  Seems like deprecation warnings only.

[code]

[2018-08-24 04:15] ryanwiemer commented on #31
@zanedev,

Good catch. That actually looks like an issue caused from upgrading  eslint to `v5.x`. For now I went ahead an downgraded eslint back to `v4.19.1` on my `v2` branch. Just a note that this branch is still a work in progress so let me know if you notice any other issues or weird behavior since Gatsby `v2` is still in beta.

@brandonkal - Since you created [`eslint-config-gatsby-standard`]

[2018-08-24 04:27] ryanwiemer commented on #31
Closing this issue for now since it was resolved by downgrading eslint to` v4.x`. I can revisit this again once [`eslint-config-gatsby-standard`](https://github.com/brandonkal/eslint-config-gatsby-standard/issues/1) supports eslint `v5.x`

[2018-08-24 04:27] #31 closed, assigned to nobody

[2018-08-25 05:26] zanedev commented on #31
Thanks I will let you know if I come across anything else!

Unfortunately downgrading eslint didn't seem to fix it for me though I still get the same error.  I removed my node_modules directory and reinstalled but same issue.  Definitely have the v4.x eslint installed but same thing.

[2018-08-25 07:19] ryanwiemer commented on #31
@zanedev, Hmmm weird.

I can't seem to replicate the issue after downgrading eslint. Definitely get rid of the `node_modules` folder. Maybe your `package-lock.json` is causing an issue. And if all else fails delete your `.cache` folder too for good measure.

[2018-09-15 03:36] ryanwiemer commented on #25
@ahansson89,

I currently have a branch called [`paginate`](https://github.com/ryanwiemer/gatsby-starter-gcn/tree/paginate) to work on this functionality.

[Current Demo](https://paginate--gcn.netlify.com/)

Note that due to a limitation of the `gatsby-source-contentful` plugin I can't paginate the tag pages with how they are currently set up. To mitigate this I added a [load more button](https://

[2018-09-18 22:35] brandonkal commented on #30
Gatsby v2 is now out! @ryanwiemer let me know how I can help with this migration.

[2018-09-19 20:52] ryanwiemer commented on #30
@brandonkal Thanks for the offer! I am pretty much good to go with [`v2`](https://github.com/ryanwiemer/gatsby-starter-gcn/tree/v2) but I'll let you know once it is officially released.

Here is a [demo](https://v2--gcn.netlify.com/).

I'm gonna give the [scroll position issue](https://github.com/gatsbyjs/gatsby/issues/7454) another day to see if that gets resolved and if not I can put in a tempor

[2018-09-20 09:33] ahansson89 commented on #25
This is how I did it for tags:

[code]

Basically loading everything I need in gatsby-node.jd and passing that into the tag template like this:

[code]

This code is not cleaned up yet as I was just focusing on getting it done quick.

[2018-09-20 22:36] brandonkal commented on #30
@ryanwiemer If I can make a suggestion, this page should be added to the Contentful model. Since v2 release will include a change of starter content, it would be nice if this was included as well.

It is a markdown reference post, which I found very useful to see all the typography and tweak the typography design when adapting this starter for my own site. For that reason, I believe it would be be

[2018-09-20 22:40] ryanwiemer commented on #30
Ahh Gotcha. Sure, I can add that in. Good suggestion.

[2018-09-20 23:02] brandonkal commented on #30
Here is a potential image for the reference post: https://pxhere.com/en/photo/791258

[2018-09-21 05:07] ryanwiemer commented on #25
@ahansson89,

Thanks for sharing some insight from your code! I was actually able to get the tags to paginate after all. The logic in my `gatsby-node.js` file is a little more complicated than I'd like but it works. I'll revisit this topic in the future and hopefully simplify it a bit more.

As a side note if I were to pick a plugin I like the philosophy of [gatsby-awesome-pagination](https://gith

[2018-09-21 21:50] ryanwiemer commented on #30
The issues listed have now been resolved. I am going to merge `v2` into `master`.

@brandonkal - As for the updated markdown reference post I will add that in the near future. I need to add more styling to support that first.

[2018-09-21 23:04] ryanwiemer commented on #30
Closed via https://github.com/ryanwiemer/gatsby-starter-gcn/pull/34 and released as [v2.0.0](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.0.0)

[2018-09-21 23:04] #30 closed, assigned to ryanwiemer

[2018-09-21 23:05] ryanwiemer commented on #25
Closed via https://github.com/ryanwiemer/gatsby-starter-gcn/pull/34 and released as [v2.0.0](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.0.0)

[2018-09-21 23:05] #25 closed, assigned to nobody

[2018-09-21 23:57] brandonkal commented on #30
@ryanwiemer I did some styling tweaks for that. I'll make a pull request.

[2018-09-21 23:58] ryanwiemer commented on #30
@brandonkal sounds good!

[2018-09-23 01:13] brandonkal opened #36 "Redundant meta tags"
I noticed this while grepping through the diffs for the version 2 upgrade.
It is not a huge concern because React Helmet handles everything nicely. But since the SEO component handles the meta tags in the Layout component, those lines should probably be removed. I'll leave this here as a reminder for when I find the time to do this down the road.

[2018-09-23 01:16] brandonkal commented on #36
I'm also curious what is going on in line 28 of Layout.js

[2018-09-23 01:39] brandonkal commented on #36
console.log is also in the tag.js file

[2018-09-24 04:43] ryanwiemer commented on #36
Thanks for pointing this out. I can clean that up on the next release.

[2018-09-30 07:57] kirso opened #37 "Contentful API keys"
Tried to insert environmental variables into netlify as per Contentful keys (access / space id) however during deployment is drops this error:

Accessing your Contentful space failed. Perhaps you're offline or the spaceId/accessToken is incorrect
Error running command: Build script returned non-zero exit code: 1

Wonder what can be wrong?

[2018-10-01 05:18] ryanwiemer commented on #37
@kirso  Did you name the environment variables in Netlify exactly as `ACCESS_TOKEN` and `SPACE_ID`?

[2018-10-01 07:31] #37 closed, assigned to nobody

[2018-10-01 07:32] kirso commented on #37
Apologies for opening an issue - the access token was different (not the content, but personal one)

[2018-10-02 01:28] ryanwiemer commented on #37
Ah gotcha. No worries. Glad you figured it out.

[2018-10-04 20:13] ryanwiemer commented on #27
@Silisav,

I am going to close out this ticket. I think multilingual functionality is interesting but perhaps out of scope for the default functionality of this starter.

Thank you for sharing what you learned and best of luck to you if you haven't already solved this problem on your own.

[2018-10-04 20:13] #27 closed, assigned to nobody

[2018-10-05 01:06] daydream05 opened #38 "Is there anyway to fix the black favicon?"
I tried changing the site icon and the plugin-manifest but I still get the default dark favicon

[2018-10-05 03:09] ryanwiemer commented on #38
@daydream05

Perhaps it is cached. Maybe do a hard refresh or clear the cache. Hard to say without looking at your code. Can you share a link to your repo?

[2018-10-07 23:36] daydream05 commented on #38
Cleared my browser cache. It works! Thanks

[2018-10-07 23:36] #38 closed, assigned to nobody

[2018-10-15 18:28] ryanwiemer commented on #36
Fixed in [`2.0.1`](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.0.1)

[2018-10-15 18:28] #36 closed, assigned to nobody

[2018-10-17 21:04] johnmeredith opened #40 "Contact form failure"
Hi there,
Second time I've hit this problem with the Netlify forms so hopefully it's a quick fix.

I previously had an HTML contact for that was fialing and the original dev kindly added a honeypot. Low and behold the form submissions began to work. I notice you also have a honeypot witihn the contact component but I canot seem to get it working.

My [repo is here](https://github.com/johnmeredith/

[2018-10-17 21:47] johnmeredith opened #41 "Removing Tag Create Build Error"
Not sure if this is a bug or I need to RTFM but when removing tags from a previously publsihed post, I get the following build error on Netlify:

`TypeError: Cannot read property 'length' of null`

I tracked down my changes to me removing a tag from a post due to the post header looking too cramped (it's only one row and does not wrap?).

I can recreate the error just by removing a tag from a post

[2018-10-17 22:10] ryanwiemer opened #42 "Line Wrapping on TagList Component"
Minor CSS issue with how tags are wrapping on the `TagList` component.

<img width="656" alt="screen shot 2018-10-17 at 3 02 48 pm" src="https://user-images.githubusercontent.com/5171579/47119165-adb56c00-d21e-11e8-867e-561509044e0b.png">

[2018-10-17 22:24] ryanwiemer commented on #41
@johnmeredith,

Thanks for logging the ticket. There appears to be two separate topics here:
1. CSS issue with the wrapping of tags (https://github.com/ryanwiemer/gatsby-starter-gcn/issues/42)
2. When you create a tag called `Norway` Contentful is actually making a new piece of content with the type of `tag`. That is how the tag pages are created. If `Norway` is no longer connected to any posts th

[2018-10-17 22:25] johnmeredith opened #43 "Embedded Content - Twitter"
Embedded content that appears to render correctly in Contentful (e.g. tweets) do not appear on the built page.

See [this post at the bottom](https://archetextures.netlify.com/interoperability-is-poorly-defined-and-subsequently-misused/), in the Why This Matters section.

For reference, this is how it appears in Contentful:
![embed](https://user-images.githubusercontent.com/17782555/47119725-e62b6

[2018-10-17 22:29] johnmeredith commented on #41
No - that makes sense. I did as you just said and rmeoved Norway completly and it appear to have worked. Thank you - I'm both a Gatsby and Contentful newbie so learnign a lot today.  Embedding Disqus is my next task....!!

[2018-10-17 22:30] ryanwiemer commented on #43
Embedded content is possible in markdown but requires additional Gatsby plugins or custom code. I have not added these in by default but I would recommend looking at the Gatsby Plugin Page if you need additional features.

For example for this use case: https://www.gatsbyjs.org/packages/gatsby-plugin-twitter/

[2018-10-17 22:32] ryanwiemer commented on #41
Cool. No worries. I'm gonna close out this ticket then.

[2018-10-17 22:32] #41 closed, assigned to nobody

[2018-10-17 22:38] ryanwiemer commented on #40
Are you experiencing any issues specifically related to this repo? Or just curious in general about how to improve your Netlify contact form to reduce spam? The form provided here is a bare bones example.

The best way to get rid of spam completely is to incorporate a recaptcha. It requires additional steps but is worth the time.

[Example Code](https://github.com/imorente/gatsby-netlify-form-exam

[2018-10-17 22:52] johnmeredith commented on #43
Fantastic. That plugin worked great. Needs some styling to make it look better but the tweets show up.

[2018-10-17 22:52] #43 closed, assigned to nobody

[2018-10-17 22:54] johnmeredith commented on #40
Yes - the form submission appears to work - I get the confirmation message. But no mail forms get processed by Netlify. This was the exact same issue I received with my other Gatsby/Netfliy site. As said, the honeypot fixed it but in your case you have already thought of that.

[2018-10-17 23:05] ryanwiemer commented on #40
Ahhh I see. I just confirmed it is not working on the prod site. This is a bug. I will investigate and report back.

[2018-10-17 23:51] ryanwiemer commented on #40
This appears to be related to https://github.com/gatsbyjs/gatsby/issues/7997. I will release a hot fix with the work around right now.

Thanks for catching this.

[2018-10-18 01:03] ryanwiemer commented on #40
Fixed in [2.0.2](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/2.0.2)

[2018-10-18 01:03] #40 closed, assigned to ryanwiemer

[2018-10-18 01:03] ryanwiemer commented on #42
Fixed in [2.0.2](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/2.0.2)

[2018-10-18 01:03] #42 closed, assigned to ryanwiemer

[2018-10-18 01:05] ryanwiemer commented on #41
Fixed in [2.0.2](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/2.0.2)

@johnmeredith, I added an extra check to make sure tags that do not contain any posts are ignored. They would still exists in Contentful but at least it will prevent the creation of orphaned tag pages or broken builds.

[2018-10-20 17:14] inventanew opened #44 "webpack error"
I get this error when building locally,

error Building static HTML for pages failed

See our docs page on debugging HTML builds for help https://goo.gl/yL9lND

  59 |     <Post featured={props.featured}>
  60 |       <Link to={`/${slug}/`}>

     |                               ^
  62 |         <Title>{title}</Title>
  63 |         <Date>{publishDate}</Date>
  64 |         <Excerpt

  WebpackErro

[2018-10-20 21:09] ryanwiemer commented on #44
@inventanew,

It might have something to do with your local cache. Can you try running `npm run clean`?

That's a script that will run `rm -rf public .cache` for you. Alternatively you can manually delete the `public` and `.cache` folders.

Let me know if that resolves the issue.

[2018-10-22 20:57] ryanwiemer commented on #44
This may be related to an upstream issue with Gatsby. See: https://github.com/gatsbyjs/gatsby/issues/8996

[2018-10-23 17:45] ryanwiemer commented on #44
This is resolved by updating `gatsby-source-contentful`. I have also updated the starter to use the latest version with the fix.

See: [v2.0.3](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.0.3)

[2018-10-23 17:45] #44 closed, assigned to nobody

[2018-10-23 21:14] inventanew commented on #44
thanks Ryan for the update, much appreciated! Your gatsby starter is the only one right now that has a contentful integration with tags. I have been looking into datocms but the examples are lacking and nav hamburger doesn't work on their site, the interface looks simpler than contentful (for clients)

[2018-10-31 18:08] ghost opened #46 "PageTitle.js"
I am having a hard time figuring out the conditional(ternary) operator 'props.small'. It appears the condition is 'falsy'.

Thanks for the starter.

[2018-10-31 20:01] ryanwiemer commented on #46
@doakheggeness,

Thanks for using the starter. This sounds like more of a general usage question regarding React and styled-components. In the future it's best to keep that on something like stack overflow rather than this repo.

With that said the`PageTitle.js` component has a boolean prop  called `small` and it is considered true if you include that prop when using the component.

See: [`tag.js`

[2018-11-01 22:01] #46 closed, assigned to nobody

[2018-11-10 23:50] willb335 opened #47 "Netlify Build Command"
Hey,
Thanks for setting this up on github.  I'm not able to get to the published site(getting a 404 not found). do you have any recommendations for the netlify build command and publish directory?

I 've tried running the build command with ```npm run build```

[code]

[2018-11-12 18:10] ryanwiemer commented on #47
@willb335,

Did you setup Netlify to [deploy from Git](https://github.com/ryanwiemer/gatsby-starter-gcn#netlify-deployment-from-git-recommended) per the instructions on this repo?

Here is a screenshot of the build command and publish directory. Note that `npm run build` and `gatsby build` do the same thing.

<img width="853" alt="screen shot 2018-11-12 at 9 56 33 am" src="https://user-images.gith

[2018-11-12 22:50] willb335 commented on #47
Thanks Ryan,
That worked!  I was missing the publish directory as ```public/```  on Netlify.

Appreciate the response

[2018-11-12 22:50] #47 closed, assigned to nobody

[2018-11-24 21:19] brandonkal opened #48 "Explore Comment Options"
I am interested in exploring comment options. Perhaps not adding it entirely depending on your thoughts, because then it becomes more than "Gatsby Contentful and Netlify." One option that would likely be useful to people would be building a comment component that matches the theme styles and adding a note to the readme on how to include it on the pages.

After sifting through the various commentin

[2018-11-27 19:39] ryanwiemer commented on #48
@brandonkal,

I was actually just looking into comment options for another project so this is good timing. Here are my thoughts on what would be needed for it to make sense for this project:

### Requirements
* Offers some form of a free tier
* Hosted or provided by a third party service. I don't want to help people debug their docker container or some other solution like that. 😉
* Simple configur

[2018-11-29 17:51] d-ivashchuk opened #49 "Error with Image being a null"
First of all thanks a lot for the starter! You did a fantastic job on it.

I've started to modify it and play with contentful+netlify integration and everything worked fine but lately when I run `gatsby develop` there is no error in terminal and everything seems correct but I get nothing rendered because of some error concerning image being `null`.

I didn't change any logic apart from adding `rea

[2018-11-29 18:04] d-ivashchuk commented on #49
I have an idea now that probably tokens got messed up or something like that happened after another deploy so it works for Netlify and fails for local fetch.

[2018-11-29 18:38] ryanwiemer commented on #49
@d-ivashchuk,

Ahh gotcha. Let me know if having the correct tokens ends up being the issue.

The only other thing I would recommend if you have issues when developing locally is to clear out the site's local cache via [`npm run clean`](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/package.json#L54).

[2018-11-29 18:41] d-ivashchuk commented on #49
For now cloning to other machine and running `setup` once more and filling the tokens solved the issue, just wondering where did it come from. Closing it for for now, as the problem does not seem critical, if I will have it once more after deploy or contentful changes I will reopen it.

[2018-11-29 18:41] #49 closed, assigned to nobody

[2018-11-29 18:48] ryanwiemer commented on #49
Sounds good. Thanks!

[2018-11-30 20:31] johnmeredith commented on #48
Isn't Disqus an option? I'm trying to add it to my clone now.

[2018-11-30 20:33] johnmeredith opened #50 "Blurry Images on Desktop"
This might well be a mistake on my part configuring Contentful but I get blurry images on desktop browsers. For example:

https://www.archetextur.es/interoperability-is-poorly-defined-and-subsequently-misused/

It seems clear on mobile though?

[2018-11-30 21:13] ryanwiemer commented on #48
@johnmeredith,

Yeah Disqus works fine and it's easy enough to add. Regardless of which 3rd party hosted comment solution you choose you probably want to lazy load it in some way. Disqus and Facebook are both very heavy and you don't want to add 500kb - 2mb or whatever it takes to load unless you are sure the user wants to see it.

Just my two cents.

[2018-11-30 21:18] ryanwiemer commented on #50
@johnmeredith,

On the [post.js](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/templates/post.js#L66) template the GraphQL query has max width for media set to 1800px. If you want bigger images simply make that larger and ensure you have high quality images uploaded in Contentful.

[2018-11-30 21:21] brandonkal commented on #48
@johnmeredith Yes, Disqus is an option and easy to add. I am not a fan of the UX as it doesn't encourage comments (opinion). I am currently exploring alternatives so stay tuned. Like Ryan says, it is quite heavy (700KB) and I don't want comments to be the slowest part of my site.

If the audience is all developers (e.g. a tech blog) https://utteranc.es/ is a really slick option I found as it is al

[2018-11-30 21:23] ryanwiemer commented on #48
@brandonkal haha. It looks like we had the exact same thought. 😂

[2018-12-05 21:48] ryanwiemer commented on #50
I'm gonna close this out for now as I am fairly confident that is the issue. If however you still have issues let me know and I can reopen it.

[2018-12-05 21:48] #50 closed, assigned to nobody

[2018-12-23 05:16] kirso commented on #49
Hmmm seems like I have the same problem. Everything worked fine, but then both production and local builds fail

![image](https://user-images.githubusercontent.com/2138870/50380955-e5c0ab80-06b4-11e9-80ad-20315003b6ce.png)

[2018-12-23 05:19] ryanwiemer commented on #49
@kirso are you sure the image you are using is "published" on Contentful? Did you try clearing the local cache as I suggested before?

[2018-12-23 05:47] kirso commented on #49
@ryanwiemer - yes, everything was published, nothing removed and the site just started failing after I believe Gatsby released a new update. I just started from scratch and will rebuild the site again. Thanks, Ryan for answering so quickly! Bes starter ever!

[2018-12-23 05:59] ryanwiemer commented on #49
@kirso, strange, well let me know if a fresh install works for you. Might be an old Gatsby bug or something else. Glad the starter is helpful to you.

[2018-12-23 08:08] dattila23 opened #52 "webpack absolute path error"
Hello!

I build locally (gatsby build) but it is error:

 WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a co
  nfiguration object that does not match the API schema.
   - configuration.context: The provided value "e:\\!Project\\GatsBy\\gatsby-starter-gcn" contains exc
  lamation mark (!) which is not allowed because it's reserved for loader syntax.

[2018-12-23 16:58] ryanwiemer commented on #52
@dattila23, from the description of the error it sounds like it may be related to what you named the parent folder: `!Project`. The `!` character as it states is reserved for Webpack and can't be used.

Can you try renaming that folder or putting it somewhere else to see if that resolves the problem?

[2018-12-23 18:27] dattila23 commented on #52
Oh yes. It was the problem. Thanks a lot!

[2018-12-23 18:27] #52 closed, assigned to nobody

[2019-01-07 05:04] EmilianoCarrillo opened #53 "Error while deploying to netlify"
Hey, I followed all the steps on the documentation but I get this error while deploying.
Thanks!

[code]

[2019-01-07 05:35] ryanwiemer commented on #53
@EmilianoCarrillo,

According to your log it looks like it is having trouble accessing Contentful.

``` 10:51:54 PM: Accessing your Contentful space failed. Perhaps you're offline or the spaceId/accessToken is incorrect.```

Did you enter in your Contenful information as environments variables in Netlify? ([see instructions here](https://github.com/ryanwiemer/gatsby-starter-gcn#netlify-deployment-

[2019-01-08 04:50] EmilianoCarrillo commented on #53
Thank you! That was It. I was inserting the wrong key to netlify.

[2019-01-08 04:50] #53 closed, assigned to nobody

[2019-01-15 01:34] snbasics opened #54 "allContentfulPage error"
I've just downloaded the starter theme and when I attempt to run `gatsby develop` I get the following errors:
[code]
and
[code]

I only found allContentfulPage in Gatsby-node.js. on lines 118 and 127 but I didn't spot an issue. Any idea what I am doing wrong?

Thanks in advance, Isaac

[2019-01-15 04:58] ryanwiemer commented on #54
@snbasics,

Did you go through the full [setup process](https://github.com/ryanwiemer/gatsby-starter-gcn#setup-contentful) including Contentful?

[2019-01-15 12:01] snbasics commented on #54
@ryanwiemer Thanks so much for your help. I had gone through it but I decided to create a new Contentful space and try again, that solved it. I really like the theme and appreciate the time you've put in and the help.

[2019-01-15 12:01] #54 closed, assigned to nobody

[2019-01-15 18:14] ryanwiemer commented on #54
Cool. Glad you got it resolved.

[2019-01-17 22:41] hrashid opened #55 "Async error and GraphQL error"
I tried the local install and connected it to my Contentful space. I've confirmed that everything's connected because the content has been created in Contentful (posts, pages, and tags).

When I try to run "gatsby develop" I get the following errors:

----------------------------------------------
error Plugin gatsby-transformer-remark returned an error

Error: /Users/hrashid/Sites/gatsby-starter-

[2019-01-18 00:08] hrashid commented on #55
ahh...i updated node and fixed it...closing

[2019-01-18 00:08] #55 closed, assigned to nobody

[2019-01-18 00:27] ryanwiemer commented on #55
Gotcha. Glad you were able to resolve it on your own. Best of luck to you!

[2019-01-18 19:42] hrashid commented on #55
Thanks for all your work on this.  It's an awesome project!

[2019-01-20 15:42] victor-balta opened #56 "Failed to deploy on Netlify - Build script returned non-zero exit code: 1"
Hi,

The starter works perfectly on local env, but when I try to deploy it on Netlify it gives me this error

3:30:25 PM: **Error running command: Build script returned non-zero exit code: 1**

Any ideas how to fix that?  (I used the latest release)
Thank you

[2019-01-20 19:10] ryanwiemer commented on #56
@victor-balta Did you add the [environment variables](https://github.com/ryanwiemer/gatsby-starter-gcn#netlify-deployment-from-git-recommended) in Netlify? Also could provide more of the log from Netlify?

[2019-01-20 19:31] victor-balta commented on #56
Hi @ryanwiemer,

The issue was that I provided the wrong token. For some reasons, I thought I had to put the content management token. Maybe it will be useful to specify in the readme which one to use for beginners like me.

I will close the ticket. Thank you anyway for your support.

[2019-01-20 19:31] #56 closed, assigned to nobody

[2019-01-21 01:47] ryanwiemer commented on #56
Thanks for the update and feedback. I will take a look at the README to see if I can improve it.

[2019-02-20 09:27] johnmeredith commented on #48
Any update chaps? ;-)

[2019-02-20 09:39] johnmeredith opened #58 "Canonical Link Check"
Hi there
I’ve clearly missed something in the config of my site but when running an SEO check for
https://sitechecker.pro/seo-report/https://www.archetextur.es/ i get the canonical link to your demo page at https://gcn.netlify.com/. Where can I reconfigure this to my domain?

Sorry for the dumb question!
J

[2019-02-20 09:46] brandonkal commented on #48
@johnmeredith I have a working simple comment system (Gatsby Comments). I am currently in the middle of a big project, but once that is done, I plan to spruce it up and make it public on GitHub.
I'll make a PR here with an optional UI component and documentation on how to integrate it with gatsy-starter-gcn.

[2019-02-20 09:49] johnmeredith commented on #58
Additionally I just ran this through the Google URL inspection for a specific page and found
Indexing allowed? Yes
User-declared canonical: https://gcn.netlify.com/a-pattern-for-cardiovascular-assessment/

I just haven’t configured something right? And would a sitemap help?

[2019-02-20 09:51] johnmeredith commented on #48
Superb!

[2019-02-20 18:27] ryanwiemer commented on #58
@johnmeredith - Did you update your [siteConfig.js](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/utils/siteConfig.js)? If not that would explain what you are seeing.

[2019-02-20 20:58] johnmeredith commented on #58
Yes I did. All but the siteURL. WTF?!? #idiotme

[2019-02-21 18:14] #58 closed, assigned to nobody

[2019-02-24 18:34] blarsonmoore opened #59 ".env file"
I cloned this repo and successfully ran the setup and deployed to Netlify without any issues. However, when I clone the repo I created to a different computer I cannot find a .env file to add my Contentful space_id and access_token. I can hard code it into the gatsby-config.js but that is not ideal. Am I missing something?

[2019-02-25 07:23] ryanwiemer commented on #59
@blarsonmoore That is due to the [`.gitignore`](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/.gitignore#L8) file. I would advise against committing your `.env` file or hardcoding passwords.

So it does require taking the manual step of creating a new `.env` file on each of your computers. It's not ideal but it is more secure and that way you don't have your passwords accidentally c

[2019-02-26 22:49] ryanwiemer commented on #59
Closing out this ticket. Let me know if you have any other questions.

[2019-02-26 22:49] #59 closed, assigned to nobody

[2019-03-12 12:49] marchdoe opened #60 "Unable to build on Netlify - Module not found"
When trying to deploy to Netlify I get the following error.

The app runs locally and builds locally. I have also made sure my Netlify settings are correct based on your instructions.

Error:
`Module not found: Error: Can't resolve '../components/Container' in '/opt/buil  d/repo/src/pages'
8:46:45 AM:   resolve '../components/Container' in '/opt/build/repo/src/pages'`

Full output:
[code]

[2019-03-12 12:55] marchdoe commented on #60
Created an issue too soon, ended up finding the answer here => https://github.com/gatsbyjs/gatsby/issues/8205

Although I am not sure why the suggested change seems to fix it.

[2019-03-12 21:34] ryanwiemer commented on #60
Thanks for letting me know that you were able to figure this out on your own.

[2019-03-12 21:34] #60 closed, assigned to nobody

[2019-03-30 16:03] djnorrisdev commented on #24
Until I read this, I was all kinds of confused about the populating of data for the posts. I didn't realize when I went through setup that until I clicked something in contentful, it didn't show the data being populated from the starter into contentful.

[2019-05-09 15:07] humet opened #62 "TypeError: Cannot read property 'allContentfulPost' of undefined"
Hi,

I am getting this error when I'm trying to build Gatsby or even put it into develop mode.

I have tried to use an existing space that already contains content. Could that be an issue? Does it always have to start with a blank space on Contentful?

Thanks

[2019-05-09 16:26] ryanwiemer commented on #62
@humet,

Yes, for the [setup process](https://github.com/ryanwiemer/gatsby-starter-gcn#setup-contentful) to work properly you need to start with an empty Space. The setup script creates the necessary content model and placeholder content.

In theory you could using an existing space but unless your content model is exactly the same it will not work. Let me know if that makes sense or if you have a

[2019-05-12 12:41] wonhyeongseo opened #63 "Is there a way to deploy to Github Pages?"
Hello, thank you very much for this starter kit. As a beginner, I want to deploy the blog to Github Pages instead of Netlify. Is this a possibility? How would one edit this repo to deploy to Github Pages?

[2019-05-14 10:25] humet commented on #62
Thanks @ryanwiemer.

Is there any info of where to start with working with an existing space? The content I'm wanting to use is very similar to the placeholder content.

[2019-05-14 22:32] ryanwiemer commented on #62
@humet, no I do not have any documentation on that. Here are some screenshots though of the content model you would have to replicate for the 3 content types I use. Your content has to be formatted exactly like this including the name of the fields. It's probably more work to do this than just start over and migrate over the old content.

**Page**
<img width="1221" alt="page" src="https://user-ima

[2019-05-20 13:30] seoriam opened #64 "After deleting provided posts, build fails"
Drafting, archiving, and deleting provided posts all lead to the below error log (trimmed for readability).
[code]
Found that src/templates/post.js does contain metaDescription with default being the internal content. I've tried 'clear cache and deploy', 'deleting all related tags' to no avail. The only change I've made to Contentful was making 2 locales possible; below are my locale settings.

Lo

[2019-05-20 14:16] seoriam commented on #64
After manually writing a meta description to an existing but custom post, the problem is gone. Still have no idea why the post didn't automatically use its content for the meta description. I've tested draft -> publish -> change on a new post and its working fine. @ryanwiemer May you please enlighten me on this?

[2019-05-20 14:16] #64 closed, assigned to nobody

[2019-05-20 18:22] #62 closed, assigned to nobody

[2019-05-20 18:32] ryanwiemer commented on #63
I don't use GitHub pages but it's definitely possible. From a quick a google search I found the following which may be of interest to you:

https://www.gatsbyjs.org/docs/how-gatsby-works-with-github-pages/

If you still have questions or get stuck I recommend using StackOverflow or something similar.

Best of luck to you!

[2019-05-20 18:32] #63 closed, assigned to nobody

[2019-05-21 05:00] ryanwiemer commented on #64
@seoriam,

It has to do with the way Gatsby infers the data structure and autogenerates the GraphQL schema at build time. If you have something in your graphQL query Gatsby expects there to be data and formatted a particular way. For this example there is a query for a metaDescription so Gatsby expects at least one otherwise the build fails.

Please see the note on the [README](https://github.com/

[2019-06-09 12:45] kiliw opened #65 "Posts are added twice"
Hey there and thank you very much for your nice starter. So far everything works with with contentful and the whole setup, the only thing I came across is that every post I create in contentufl is added twice.
![image](https://user-images.githubusercontent.com/43745180/59159072-bd8f0280-8ac4-11e9-8dde-3ac536f65f55.png)

I checked the querys with the `GraphiQL` and figured out that each posts exist

[2019-06-09 12:59] kiliw commented on #65
Well, I got it :) Sorry for creating and closing this issue directly.

**Solution**
In contentful my space had two languages, *en* and *de* and both were send with the response. So there have been two different `IDs` for each post because of the languages.
I deleted the *de* version and now everything is fine.

In the case someone wants to have multilanguages there would be the possibility to add

[2019-06-09 12:59] #65 closed, assigned to nobody

[2019-06-10 22:11] ryanwiemer commented on #65
Ahhh gotcha. Thanks for sharing what was causing your particular issue.

I didn't set up this starter with multi-language support in mind. If that is something you have experience in PRs are always welcome. 😉

[2019-06-11 05:52] kiliw commented on #65
I'm currently working on a project where we integrate that. So as soon as I have some free time left I will have a look into into it :)

[2019-06-15 17:50] YasharF opened #66 "npm test failure on eslint"
The eslint rule is "Disallow shorthand properties that override related longhand properties.".

The test failure is by:
https://github.com/ryanwiemer/gatsby-starter-gcn/commit/1514df5ffdfd86506a78a93f977e59b6c71a7dfa#diff-c8a07c8225c0af21bdd6c40b67170518R26

More about the eslint rule: https://stylelint.io/user-guide/rules/declaration-block-no-shorthand-property-overrides/

[code]

[2019-06-15 17:58] YasharF opened #67 "Node 12 compatibility"
It looks like due to dependency issues the current repo is not compatible with Node 12, however updating the dependencies to the latest seem to fix the compatibility issue.

[2019-06-15 20:20] YasharF commented on #67
The versions locked in by package-lock.json are the incompatible ones.  I made a fork of this repo, removed package-lock.json, and tried it, and it didn't choke.

https://github.com/YasharF/gatsby-starter-gcn

`gatsby new unstuck-gatsby git@github.com:YasharF/gatsby-starter-gcn.git`

[2019-06-15 20:48] ryanwiemer commented on #67
Thank you @YasharF for creating this issue. I have been meaning to update the dependencies. I will do some testing to make sure there are no issues and then release an update to this starter.

[2019-06-15 20:50] ryanwiemer commented on #66
Thank you for the detailed info. I will take a look at this.

[2019-06-18 05:27] ryanwiemer commented on #67
@YasharF This should be resolved as of [`v2.0.6`](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.0.6)

Let me know if you have any issues.

[2019-06-18 05:28] #67 closed, assigned to nobody

[2019-06-18 05:29] ryanwiemer commented on #66
@YasharF This should be resolved as of [`v2.0.6`](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.0.6)

[2019-06-18 05:29] #66 closed, assigned to nobody

[2019-06-19 19:37] johnmeredith opened #69 "Change post image width"
Hi there,
Not a bug but a general "I suck" question... I have tweaked the width of each post successfully but cannot see where to change the width of the images included? As a result the post body width is now wider but all images do not match.

Thanks!
John

[2019-06-19 20:57] ryanwiemer commented on #69
@johnmeredith

Do you have an image or link to your repo to better explain what you are referring to? I am just trying to understand if this is a CSS question or if you mean the maxWidth of the image coming back from Contentful.

[2019-06-19 21:15] ryanwiemer commented on #69
Assuming you just mean the images inside the post you can edit the maxWidth here:

https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/gatsby-config.js#L53

[2019-06-20 14:46] johnmeredith commented on #69
Nailed it! Thank you.

[2019-06-20 14:46] #69 closed, assigned to nobody

[2019-06-27 06:00] pvandriessche opened #70 "Hot reload keeps refreshing"
Hi,

I just started with using you start for a gatsby/contentful blog.
I was able to set-up everythink fine but when I started to make minor change to the post and tag page I had some strange behavior.
The page keeps on refreshing continously as if the HRM keeps on finding a change to update for.
I'm using AWS C9 to code.
I don't know if this error is related to gatsby or the AWS C9.

Any help or

[2019-06-27 06:28] ryanwiemer commented on #70
@pvandriessche Hmmm I have never encountered that issues before. It sounds like it may be an issue specifically with your AWS C9 and Gatsby setup rather than this starter.

I would recommend looking through the issues on https://github.com/gatsbyjs/gatsby/issues or maybe posting a question on Stack Overflow

[2019-06-27 06:30] #70 closed, assigned to nobody

[2019-07-10 03:29] zanedev opened #71 "Contentful Rate Limit - Image imports are failing"
Hi, thanks I love the starter, have used it in the past without problems. Today I ran setup with a fresh project and I got a ton of asset upload failures and it seemed to finish but when running gatsby there are a lot of graphql errors about missing images and the site doesn't run properly.  Maybe it should be able to handle if images fail more gracefully?  I tried running setup again and it doesn

[2019-07-10 03:34] zanedev commented on #71
Tried running setup again and ran into the same problems.  Maybe it should be smaller less assets for this starter?

[2019-07-10 05:13] ghost opened #72 "Set static home page and blog urls"
Hi,
I am trying to set one page as static home page and the blogs inside a blog page with the following url structure
[code]

I changed the url here:
https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/gatsby-node.js#L45

but it broke the pagination

[2019-07-10 05:20] ghost opened #73 "Image path"
I noticed on the demo: https://gcn.netlify.com/
images are loaded from here:
https://images.ctfassets.net/

is it possible to load images through the domain (https://gcn.netlify.com/) ?

[2019-07-10 05:55] ryanwiemer commented on #73
@LittleHamster,

This starter was specifically created to be used with Contentful. https://images.ctfassets.net/ is the asset domain that Contentful uses for images coming from the CMS.

https://www.contentful.com/blog/2017/12/08/change-of-the-contentful-asset-domain/

[2019-07-10 05:55] #73 closed, assigned to nobody

[2019-07-10 05:58] ryanwiemer commented on #72
@LittleHamster,

Thanks for logging the issue. I will have to look into adding a configureable basePath in order to support that.

[2019-07-10 06:03] ryanwiemer commented on #71
@zanedev,

Looking at the log it seems like a rate limit from Contentful which is causing the issues. Not sure if there is much I can do about that but I'll reach out to Contentful for more specifics on the rate limit on my account hosting the starter content.

[2019-07-10 15:36] zanedev commented on #71
Yeah ran into the same thing with another starter but I don’t even have any other spaces on this test account so not sure why it would specifically rate limit my account only.  I’ll try a new account tonight and see if the same thing happens.

[2019-07-10 15:47] ryanwiemer commented on #71
@zanedev to clarify the rate limit causing the issue may actually be on my account not yours. In the setup process it grabs the placeholder images and content directly from my Contentful account that I setup specifically for that purpose.

My best guess it that other people were setting up their site via this starter at the same time which may have triggered the rate limit on my account.

In any c

[2019-07-10 23:49] ghost commented on #73
Thanks for your reply, I think in their own starter the path is set differently and is not loaded this way, have you seen that one? Thanks

[2019-07-11 03:34] zanedev commented on #71
Okay it looks like it worked after running it today but there was still rate limit errors in the output.  I think the issue was not the rate limit but the other errors `AssetProcessingTimeout: Asset is taking longer then expected to process.` since the problem was missing assets but it's not clear which was actually resulting in a missing asset from the error output.

Anyway I wonder if this is ha

[2019-07-11 03:47] ryanwiemer commented on #71
@zanedev

Personally I have not run into the issue before. In any case if you continue to have problems or if anyone else experiences issues with the rate limit or asset processing timing out on Contentful let me know.

P.S.
Feel free to shoot me a DM on Twitter with the details for when you are speaking. I work in SF so if I'm available maybe I can attend.

https://twitter.com/ryanwiemer

[2019-07-11 03:50] zanedev commented on #71
@ryanwiemer will do thanks!

[2019-07-11 03:50] #71 closed, assigned to nobody

[2019-07-15 00:09] ghost opened #74 "Customizing single post slug"
Is it possible to change the single post slug?

by default it is:
[code]

Can it be these variations?
[code]

where the year, month and day are from the publication date

[2019-07-15 00:33] DuncanLHS commented on #72
@ryanwiemer it would be great if you could build that in to the setup.
@LittleHamster I have managed to do this and you have to change the paths in several places on top of the one you have highlighted as well as creating a new index.js. Basically anywhere there is a link to a blog post,
I've migrated the tags to /blog/tags as well.
I've not been totally successful as I'm getting a console warning

[2019-07-16 01:31] ghost commented on #72
@LittleHobbyShop
What I noticed is that even after I changed the url, the website is still accessible through old links, have you had that issue?

[2019-07-16 02:14] ryanwiemer commented on #74
@LittleHamster, no at the moment that is not an option. In the future perhaps when I convert this starter into a theme I will look into adding that functionality.

[2019-07-16 14:49] ghost commented on #74
@ryanwiemer
do you know how should I get that url structure in the mean time?

[2019-07-18 07:02] OrKoN commented on #48
I created a plugin for JustComments: https://www.gatsbyjs.org/packages/gatsby-plugin-just-comments/

And JustComments got a new look now with more customization options: https://just-comments.com/demo.html

[2019-07-21 02:04] DuncanLHS commented on #72
Try running: `npm run clean`

[2019-07-22 01:36] Kevin-Prichard opened #76 "Static site?"
Hi, thank you for writing this starter, which I tried -- but was surprised to find an external service dependency when I ran `gatsby build`:

`  Error: Contentful space ID and access token need to be provided.`

Question: how can a site be both "static" (as the repo description says) but also dependent upon an external API?  Is that static anymore? Asking here because I don't see a clear answer on

[2019-07-22 02:59] ryanwiemer commented on #76
@Kevin-Prichard

Great question although this seems better suited for a discussion about the philosophy of Gatsby and  "static site generators" in general rather than a GitHub issue on a specific starter.

I'm gonna recommend you post your questions to:

https://spectrum.chat/gatsby-js

Best of luck to you!

[2019-07-22 03:00] #76 closed, assigned to nobody

[2019-07-23 15:41] ghost commented on #72
@LittleHobbyShop
Any chance you can share your fix? or make a pull request so @ryanwiemer can merge it? I have not had any success setting a home page and another page called blog where I could list all blog items

[2019-07-23 23:05] DuncanLHS commented on #72
@LittleHamster, I won't make a pull request as I'm very new to this and I feel like it can probably done better so i'll try and explain what I did. I've done a lot on top of this so might not be perfect and I haven't tested the RSS feed yet.

Copy /src/templates/index.js into /src/pages/index.js
Remove children of `<Container/>` in /src/pages/index.js. This is now your empty home page.
Rename /src

[2019-07-29 02:36] ghost opened #77 "Self hosted fonts"
I am trying to include custom web fonts to the project
I added the fonts here:
https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/styles/global.js

any ideas where I have to load the woff files?

[2019-07-29 02:48] ghost commented on #77
fixed by following this https://github.com/gatsbyjs/gatsby/issues/2583

[2019-07-29 02:48] #77 closed, assigned to nobody

[2019-07-30 01:01] ghost opened #78 "How do I remove these icons?"
Is it possible to remove these icons?
![image](https://user-images.githubusercontent.com/10330481/62092650-ed948f80-b243-11e9-989d-dbe5726bf859.png)

https://gcn.netlify.com/about/#woofer

the ones linking to headlines
thanks

[2019-07-30 03:17] ryanwiemer commented on #78
@LittleHamster that is part of the [gatsby-remark-autolink-headers plugin](https://www.gatsbyjs.org/packages/gatsby-remark-autolink-headers/?=markdown%20auto%20link#options)

You can set icon to `false` in the options for that particular plugin.

https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/gatsby-config.js#L49

[2019-07-30 03:26] ghost commented on #78
@ryanwiemer
thank you :) I set it to false but it didnt remove the icon so I just removed that plugin
thank you again for the quick response

[2019-07-30 03:26] #78 closed, assigned to nobody

[2019-08-02 03:34] ghost opened #79 "Filter posts just for certain tags"
Is it possible to filter posts shown by tags? so I want all the posts with TagA be visible on homepage and previous pages. But still be able to view specific posts tags here (which are hidden from homepage)
[code]

[2019-08-02 04:19] ryanwiemer commented on #79
So if I understand this correctly you want to exclude specific posts from the homepage? Is that right?

That can certainly be done via the GraphQL query on the [index.js](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/templates/index.js#L47-L77) template. I would recommend reading the Gatsby Docs on the topic of [GraphQL - filter](https://www.gatsbyjs.org/docs/graphql-reference/#

[2019-08-02 12:39] ghost opened #80 "Quick question for difference between two methods"
Thank you for this great project, it is a great starter for people like me who are learning gatsby and react :)

I have a question about how how get variables from theme,
what is the difference between using:
[code]
and this one?

[code]

They both get the base color from theme but what would be the main difference?

[2019-08-02 18:42] ryanwiemer commented on #80
This project uses styled components which supports [theming](https://www.styled-components.com/docs/advanced#theming).

**Scenario 1**
This is the normal way of using theme variables. It is possible because the theme variables are provided to the ThemeProvider in the  [`Layout`](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/components/Layout.js#L21) component.
[code]

**Scenario

[2019-08-02 18:43] #80 closed, assigned to nobody

[2019-08-02 18:43] #79 closed, assigned to nobody

[2019-08-02 18:45] ryanwiemer commented on #74
Closing this ticket for now. I will reevaluate this as a potential feature when I convert the starter to be a Gatsby Theme.

[2019-08-02 18:45] #74 closed, assigned to nobody

[2019-08-02 18:46] ryanwiemer commented on #72
Hey guys,

I'm closing this ticket for now. I will reevaluate this as a potential feature when I convert the starter to be a Gatsby Theme.

[2019-09-24 03:48] wrannet opened #81 "Message"
Hi ryanweimer, I'm sure you want to keep this repo public, but if you have any interest in a paid version down the road I'd love to have it on [SugarKubes](https://sugarkubes)!

[2019-10-06 15:15] ghost commented on #72
@ryanwiemer
any updates on this?

[2019-11-04 09:43] adamglebicki opened #82 "TypeError: Cannot read property 'allContentfulTag' of undefined"
Hello!

I have some issue. When I run npm run clean and restart the development server, I've got sth like this:
UNHANDLED REJECTION Cannot read property 'allContentfulTag' of undefined

  TypeError: Cannot read property 'allContentfulTag' of undefined

  - gatsby-node.js:89 graphql.then.result
    C:/Users/Adam/Desktop/LT-starter/gatsby-node.js:89:32

Do you know how can I fix it?

Regards,
Adam

[2019-11-04 18:15] ryanwiemer commented on #82
@adamglebicki Do you have at least one tag used?

One of the limitations of this started as noted in the [readme](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/README.md#useful-tips) is you are required to have at least one page, one post and one tag in Contentful.

[2019-11-04 18:31] adamglebicki commented on #82
Yes, I had. But I also had a problem with default posts about dogs. I
couldnt delete it via conteftful. They were still in a website. Thats why I
clean it with npm what you recommend in readme.  After that I have this
error.

I tried to add new post with contentful but it still doesnt work.

Is it anything I can do or I need to start from scratch with this starter?

Regards!

W dniu pon., 4.11.201

[2019-11-04 18:38] ryanwiemer commented on #82
Hmm it's hard to say without seeing what you have in your Contentful space. In any event all that error means is that it is looking for the tags stored in Contentful to build the tag pages but not finding any so it errors out.

If you want to start from scratch again that is certainly an option. One tip when you delete or add a post you won't see any changes until the site is rebuilt. That is true

[2019-11-05 09:33] adamglebicki commented on #82
I started from scratch. I think that after rebuilt the site deleted posts still show. I still see old posts and new which I added. How can I get rid of them?

[2019-11-05 17:58] ryanwiemer commented on #82
Are you talking about on a live site or in development on your local machine? If you are talking about development you need to stop the server and restart it in order to see the changes. If you are referring to a live site similarly you need rebuild and redeploy.

[2019-11-10 02:49] ghost commented on #72
@ryanwiemer
any updates if you would be implementing this any time soon?
thanks

[2019-11-10 02:53] ghost opened #83 "Page transition animation"
I saw this example from your repos
https://github.com/ryanwiemer/gatsby-using-page-transitions
I think it would be nice if you can add it to this project too :)

[2019-11-18 04:33] ryanwiemer commented on #83
Thanks for the suggestion. I will keep that in mind.

[2019-11-18 04:35] ryanwiemer commented on #82
Closing out this ticket as I was unable to reproduce the issue.

[2019-11-18 04:35] #82 closed, assigned to nobody

[2020-01-14 19:49] trueblood12 opened #84 "What Solved JS Caching Issues With Safari #5231?"
Hello! Writing to see what actually solved [Issue 5231]( #https://github.com/gatsbyjs/gatsby/issues/5231). I don't see a solution to issue 5231, but the issue is closed. Any help would be greatly appreciated!

We are experiencing the same issue now with Safari at this time. Open up Safari (non-private window), go to the site, the site is broken (JS error in the console, Gatsby Image images aren't

[2020-01-14 21:26] ryanwiemer commented on #84
@trueblood12  If you are referring to [issue 5231](https://github.com/gatsbyjs/gatsby/issues/5231) on the Gatsby repo I believe it was resolved once `v2` was officially released.

Are you on the latest version of Gatsby and still experiencing any issues? If so please file an issue on the Gatsby repo.

Thanks!

[2020-01-20 14:05] trueblood12 commented on #84
Thank you for your reply.

I wanted to share that we found the root cause of this issue. It turns out (after chatting with Netlify support) Netlify has an open defect (since June 2019 or earlier) related to - if you password protect your site with their simple password protection, the password protection screen will cache old JS in Safari.

Here's a [Netlify community link](https://community.netli

[2020-01-20 14:05] #84 closed, assigned to nobody

[2020-01-26 01:50] ryanwiemer commented on #83
I decided not to add this feature as I want to keep this repo simple. Thanks for the suggestion though.

[2020-01-26 01:50] #83 closed, assigned to nobody

[2020-01-26 01:51] ryanwiemer commented on #48
I have decided not to add any comment functionality to keep the repo simple. Thank you for the discussion though.

[2020-01-26 01:51] #48 closed, assigned to nobody

[2020-01-29 09:37] buugaaga opened #86 "Deploy failed. failed during stage 'building site': Build script returned non-zero exit code: 1"
site can't deploy on Netlify.

on my windows 10 gatsby develop and gatsby build running well, but not running on Netlify

log:
[code]

[2020-01-29 13:38] buugaaga commented on #86
I resolve this issues by writing `git rm seo SEO` and `git rm layout Layout`.
Because Netlify builds is case sensitive while windows 10 build environment is not.

Hope it helped someone.

[2020-02-01 02:30] #86 closed, assigned to nobody

[2020-02-01 02:31] buugaaga commented on #86
this issue is resolved

[2020-02-02 06:32] ghost opened #88 "emotion instead of styled-components, but why?"
in the recent release you changed styled-components to emotions, was wondering if you could explain why? thanks

[2020-02-02 06:33] ghost commented on #83
ok

![image](https://user-images.githubusercontent.com/10330481/73604282-0b78df00-455c-11ea-891b-342d4a1befba.png)

[2020-02-02 06:38] ghost opened #89 "what is query.js file for?"
noticed this directory `src/gatsby/data/query.js` we have pages in the template directory, what is this file and where is it used?

[2020-02-02 06:48] ryanwiemer commented on #88
I added support for `Theme UI` which requires `Emotion` instead of `styled-components`. You can still use the styled-component syntax though.

So pretty much all you have to do is replace styled components with the following:

[code]

[2020-02-02 06:52] ghost commented on #88
oh ok, I was just wondering because styled-components seems to be more popular based on github stats

https://github.com/styled-components/styled-components
https://github.com/emotion-js/emotion

[2020-02-02 06:53] ryanwiemer commented on #89
The `/gatsby/` folder is basically just the `gatsby-node.js` file broken out into separate files to make it easier to manage. `query.js` contains the GraphQL queries necessary to build the pages in `gatsby-node.js`.

[2020-02-02 06:55] ryanwiemer commented on #88
Yeah. I still like both. If `Theme UI` adds support to switch back to styled-components I may do that in the future.

The benefits of Theme UI are worth the switch to me and Gatsby seems to be supporting it heavily since the creator works at Gatsby.

https://theme-ui.com/

[2020-02-02 06:58] ghost commented on #89
i see, thanks for the info

[2020-02-02 06:58] #89 closed, assigned to nobody

[2020-02-02 07:03] ghost opened #90 "page nav dropdown bug"
<img width="246" alt="image" src="https://user-images.githubusercontent.com/10330481/73604517-1e8dae00-4560-11ea-9cc9-348578cd5e56.png">

the drop down shows up like this

[2020-02-02 07:05] ghost commented on #72
@ryanwiemer
will you be looking into this since you are updating this project :P

[2020-02-02 07:15] ryanwiemer commented on #72
@LittleHamster potentially. haha.

I am a little conflicted on it. Personally I feel options are better suited for a theme rather than a starter. I added similar functionality to [gatsby-theme-amsterdam](https://github.com/ryanwiemer/gatsby-theme-amsterdam) along with other optional features like page transitions, progress indicators, color mode toggle, etc.

I purposely left this starter more bar

[2020-02-02 07:17] ryanwiemer commented on #90
Thanks for pointing this out. ~~Probably related to z-index. Any info on browser, or OS?~~

I was able to replicate it on FireFox. Should be a simple fix.

[2020-02-02 07:24] #88 closed, assigned to nobody

[2020-02-02 07:27] ghost commented on #72
@ryanwiemer I agree, it is best to leave it without any customization but I just thought having a static homepage option would help a lot of people who try to use this starter as a portfolio builder.

[2020-02-02 07:27] ryanwiemer opened #91 "og:url bug"
Minor bug with the `og:url` on the tag template is missing the word tag in the url.

<img width="643" alt="og-url" src="https://user-images.githubusercontent.com/5171579/73604730-58ec5080-454a-11ea-97c0-4d4a9d5ebd34.png">

[2020-02-02 07:30] ryanwiemer commented on #72
Yeah, that's fair. I'll reopen this ticket and rethink the best path forward. No promises yet. 😉

[2020-02-02 07:31] ghost opened #92 "Download images locally without using contentful cdn"
I think `gatsby-source-contentful` recently added this option:
https://www.gatsbyjs.org/packages/gatsby-source-contentful/#download-assets-for-static-distribution

I tried to add this to the project a few weeks ago but not successful , all images still loaded from the contentful cdn

[2020-02-02 18:14] ryanwiemer commented on #92
From my understanding that would require changing the queries for the images and using `gatsby-source-filesystem`.

That is not something I will be doing for this particular project.

[2020-02-02 18:14] #92 closed, assigned to nobody

[2020-02-02 22:16] ryanwiemer commented on #91
fixed in [v2.1.2](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.1.2)

[2020-02-02 22:16] #91 closed, assigned to nobody

[2020-02-02 22:16] ryanwiemer commented on #90
fixed in [v2.1.2](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.1.2)

[2020-02-02 22:16] #90 closed, assigned to nobody

[2020-02-04 06:30] ryanwiemer commented on #72
A configurable `basePath` has been added in [v2.1.3](https://github.com/ryanwiemer/gatsby-starter-gcn/releases/tag/v2.1.3).

**NOTE:** This will affect  the templates for `post`, `posts` and `tag`. `page` will not be affected.

**`basePath: 'blog'`**
- www.example.com/blog/
- www.example.com/blog/post-name/
- www.example.com/blog/tag/tag-name/
- www.example.com/contact/  ← This is a "page" so the

[2020-02-04 06:30] #72 closed, assigned to nobody

[2020-02-05 01:02] ghost commented on #72
wooho awesome ❤️

[2020-02-05 01:04] ryanwiemer commented on #72
@LittleHamster Feel free to test it out and let me know if you run into any issues or questions.

[2020-02-05 01:33] ghost opened #94 "Proper installation"
so I tried the new version but can't seem to get it working
first did
[code]

then
[code]

then
[code]

and then
[code]

and I get an error

[code]

am I missing something?

[2020-02-05 01:41] ghost commented on #94
also `yarn install`

[code]

[2020-02-05 01:59] ghost commented on #94
oh never mind, upgraded yarn and it worked fine

[2020-02-05 01:59] #94 closed, assigned to nobody

[2020-02-05 02:20] ghost commented on #72
@ryanwiemer
tested it and it works great, thanks a lot

[2020-02-05 04:21] ryanwiemer commented on #94
Gotcha. No worries.

[2020-02-05 04:23] ryanwiemer commented on #72
No problem

[2020-04-15 15:56] Swalloow opened #96 "RSS Support"
The RSS feed seems to remove through issue #85
Why was it deleted?

[2020-04-15 17:00] ryanwiemer commented on #96
@Swalloow I wanted to keep this starter simple and "bare bones" so I decided to remove it.

Of course if you want to add it back for your own site there is an [official Gatsby article](https://www.gatsbyjs.org/docs/adding-an-rss-feed/) with RSS instructions.

[2020-04-15 17:00] #96 closed, assigned to nobody

[2020-04-18 19:59] SergeyRe opened #97 "new fields added to post model"
are not sown at GraphiQL schema.
Situation closed to described here
[possible bug? new contentful model field does not show up in graphql response](https://github.com/gatsbyjs/gatsby/issues/14160)
Meanwhile empty gatsby project with contentful plugin directed to the same space reproduce correct

[2020-04-18 22:03] ryanwiemer commented on #97
@SergeyRe I'm not sure I understand what question you are asking.

If you want to add new fields you should be able to do that. Simply add the new field in Contentful, add the corresponding query on your site and it should be inferred and part of your GraphQL response. If it is not showing up you may need to regenerate the graphql snapshot since this starter uses [`gatsby-plugin-schema-snapshot`](

[2020-04-19 08:33] SergeyRe commented on #97
Thanks for response
I overlooked this -sorry
I my case i decieded to exclude this plugin -something bad can happened?

[2020-04-19 21:08] ryanwiemer commented on #97
Gotcha. No worries. It's fine to remove that plugin. I only included it as a way to "lock down" the expected fields so that even if the content didn't exist in Contentful the site would still be able to build.

I am going to close out this ticket. Best of luck to you.

[2020-04-19 21:08] #97 closed, assigned to nobody

[2020-04-22 02:40] ghost opened #98 "Changing body font styling for the entire site"
sorry this might be off-topic question but I can't seem to figure out how to change the body styling.

I want to add something like this so the font is applied globally:
[code]

I added the font name here:
https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/gatsby-plugin-theme-ui/index.js#L11

but now where can I apply font size, line height and font weight?
editing https://github.com

[2020-04-22 19:54] ryanwiemer commented on #98
@LittleHamster,

Font family is controlled at the global level in [gatsby-plugin-them-ui/index.js](https://github.com/ryanwiemer/gatsby-starter-gcn/blob/master/src/gatsby-plugin-theme-ui/index.js#L11) file as you mentioned.

As for font-size, line-height and font-weight that is controlled at the individual component level. For example in the [Card](https://github.com/ryanwiemer/gatsby-starter-gcn/

[2020-04-22 20:00] ryanwiemer commented on #98
Further clarification: Since I use `em` values you could adjust those by changing the base font size. If the styling references `rem` values then those won't be affected in the same way.

Useful reference: https://j.eremy.net/confused-about-rem-and-em/

[code]

[2020-05-14 05:48] #98 closed, assigned to nobody

[2020-05-15 16:46] Teegreat opened #99 "Demo contents in contentful are still displaying on the website"
I have deleted all the demo contents that were imported into my contentful space but the posts are still showing on my website. Please help me solve this issue.

[2020-05-16 05:18] ryanwiemer commented on #99
@Teegreat if you are developing locally you need to restart the server to see changes. If you are referring to the live site you need to "rebuild" it.

https://github.com/ryanwiemer/gatsby-starter-gcn#useful-tips

[2020-05-16 05:18] #99 closed, assigned to nobody

[2020-06-14 13:53] ghost opened #100 "First page is blank"
I changed basePath to articles and when loading the website, the first page is blank
how can I create a custom home page that shows an image?

[2020-06-14 18:16] ryanwiemer commented on #100
@drwhoooois Create a file named `index.js` under [`/src/pages/`](https://github.com/ryanwiemer/gatsby-starter-gcn/tree/master/src/pages) and that will be your homepage. Place whatever content, etc. you want.

[2020-06-14 18:16] #100 closed, assigned to nobody

[2020-06-15 00:37] ghost commented on #100
thank you

[2020-08-22 04:31] DannyBoyNYC commented on #97
Hi Ryan and thanks for the useful template. We are using it to help those effected by the massive explosion in downtown Beruit. I ran into the exact problem above and, not being familiar with the snapshot plugin, spent quite a bit of time debugging before I saw this.You might consider adding a note about this in the readme.

[2020-08-22 04:41] ryanwiemer commented on #97
Thanks for the feedback @DannyBoyNYC. I will definitely look at adding something to the readme to make it more clear. If you have any other questions or suggestions feel free to let me know.

And of course good luck on your project for a good cause. I’d love to see the final result. Send me a tweet or something when it launches https://mobile.twitter.com/ryanwiemer

[2021-07-14 12:57] kennyng90 opened #101 "Accessing your Contentful space failed."
Works great with local develop and build. But when trying to build through Netlify it fails. I have also tried to delete the Contentful space and created a new one and updated tokens in "yarn run setup" and .contentful.json but it still fails via Netlify.

I'm using Win10.

Please help :)

[code]

[2021-07-17 19:32] el-pol commented on #101
You need to add the Contentful env variables in Netlify. Check this out: https://docs.netlify.com/configure-builds/environment-variables/

Also, it could be that some of the plugins changed. This repo is not really updated for a long time... I suggest to migrate all the packages to their `latest` version as well.

[2021-07-17 22:08] ryanwiemer commented on #101
@el-pol is correct. Likely you need to have the relevant Contentful env variables defined in Netlify.

Additionally this repo has not been updated in a couple years so if you update to gatsby v3 or update any plugins additional changes may be necessary.

[2021-07-22 09:49] el-pol commented on #101
@ryanwiemer are you planning on updating to gatsby v3? This is a super nice starter, it would be awesome

[2021-07-22 19:44] ryanwiemer commented on #101
@el-pol Yes. Eventually I would like to update to Gatsby v3. I was holding off a bit as it looks like Gatsby is working on improvements to gatsby-plugin-contentful that may introduce breaking changes.

https://github.com/gatsbyjs/gatsby/projects/24

[2021-08-02 22:09] #101 closed, assigned to nobody

[2022-07-21 16:04] Roman-ZN commented on #71
The issue is still actual.